#demo{font-weight:bold;text-align:center; font-weight: bold; font-size: 50;}
#mathone{font-weight:bold;text-align:center; font-weight: bold; font-size: 50;}
#mathtwo{font-weight:bold;text-align:center; font-weight: bold; font-size: 50;}
  #maththree{font-weight:bold;text-align:center; font-weight: bold; font-size: 50;}
